.date-picker-btn:hover,:focus{
  background-color: #fff;
  color: #000;

}

.calendar-icon:hover,:focus{
  background-color: #fff;
  color: #000;
}

.select-arrow:hover,:focus{
  background-color: #fff;
  color: #000;
}
