
<cms-page title="Báo cáo doanh thu" [close]="false">
  <div action>

  </div>
  <div content class="mt-8">
    <div nz-row [nzGutter]="[16, 5]">
     <!--  <div  nz-col class="mt-3" nzXs="12" nzSm="8" nzMd="6" nzLg="6" nzXl="5" nzXXl="4">
        <nz-select class="width-full" nzShowSearch [(ngModel)]="postId"  nzPlaceHolder="Lọc theo mã đối tác" nzAllowClear (ngModelChange)="postchange($event)">
          <nz-option *ngFor="let o of listOfPost" [nzValue]="o.maBuuCuc" [nzLabel]="o.maBuuCuc.concat(' - ',o.tenBuuCuc)"></nz-option>
        </nz-select>
      </div> -->

      <div  nz-col class="mt-3" nzXs="12" nzSm="8" nzMd="6" nzLg="6" nzXl="5" nzXXl="4">
        <nz-select class="width-full" nzShowSearch [(ngModel)]="region"  nzPlaceHolder="Chọn vùng" nzAllowClear (ngModelChange)="regionChange($event)">
         <!--  <nz-option *ngFor="let o of listOfPost" [nzValue]="o.mabc" [nzLabel]="o.mabc.concat(' - ',o.tenbc)"></nz-option> -->
        </nz-select>
      </div>

      <div  nz-col class="mt-3" nzXs="12" nzSm="8" nzMd="6" nzLg="6" nzXl="5" nzXXl="4">
        <nz-select class="width-full" nzShowSearch [(ngModel)]="branch"  nzPlaceHolder="Lọc theo chi nhánh" nzAllowClear (ngModelChange)="branchChange($event)">
          <nz-option *ngFor="let o of listOfTinh" [nzValue]="o.key" [nzLabel]="o.key.concat(' - ',o.value)"></nz-option>
        </nz-select>
      </div>
      <div  nz-col class="mt-3" nzXs="12" nzSm="8" nzMd="6" nzLg="6" nzXl="5" nzXXl="4">
        <nz-select class="width-full" nzShowSearch [(ngModel)]="post"  nzPlaceHolder="Lọc theo bưu cục" nzAllowClear (ngModelChange)="postChange($event)">
          <nz-option *ngFor="let o of listOfPost" [nzValue]="o.mabc" [nzLabel]="o.mabc.concat(' - ',o.tenbc)"></nz-option>
        </nz-select>
      </div>

      <div  nz-col class="mt-3" nzXs="12" nzSm="8" nzMd="6" nzLg="6" nzXl="5" nzXXl="4">
        <nz-select class="width-full" nzShowSearch [(ngModel)]="object"  nzPlaceHolder="Chọn đối tượng khách hàng" nzAllowClear (ngModelChange)="objectChange($event)">
         <!--  <nz-option *ngFor="let o of listOfTinh" [nzValue]="o.key" [nzLabel]="o.key.concat(' - ',o.value)"></nz-option> -->
        </nz-select>
      </div>
      <div nz-col class="mt-3" nzXs="12" nzSm="8" nzMd="6" nzLg="6" nzXl="5" nzXXl="4">
        <nz-input-group class="width-full" [nzPrefix]="prefixIconSearch1" [nzSuffix]="inputClearTpl1">
          <input type="text" nz-input placeholder="Nhập mã,tên khách hàng" [(ngModel)]="codeKH"
            (keyup.enter)="searchKeyWordKH()" />
        </nz-input-group>
        <ng-template #prefixIconSearch1>
          <i nz-icon nzType="user" (click)="searchKeyWordKH()"></i>
        </ng-template>
        <ng-template #inputClearTpl1>
          <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="codeKH"
            (click)="codeKH = ''; searchKeyWordKH()"></i>
        </ng-template>
      </div>

      <div  nz-col class="mt-3" nzXs="12" nzSm="8" nzMd="6" nzLg="6" nzXl="5" nzXXl="4">
        <nz-date-picker [nzPlaceHolder]="'Lọc theo tháng'" nzMode="month" ></nz-date-picker>
       <!-- <nz-range-picker [nzAllowClear] nzFormat="yyyy/MM/dd" ngModel (ngModelChange)="onChange($event)" [nzPlaceHolder]="['Lọc theo thời gian']"></nz-range-picker> -->
      </div>
      <div  nz-col class="mt-3" nzXs="12" nzSm="8" nzMd="6" nzLg="6" nzXl="5" nzXXl="4">
        <nz-select class="width-full" nzShowSearch [(ngModel)]="object"  nzPlaceHolder="Top 500" nzAllowClear (ngModelChange)="objectChange($event)">
         <!--  <nz-option *ngFor="let o of listOfTinh" [nzValue]="o.key" [nzLabel]="o.key.concat(' - ',o.value)"></nz-option> -->
        </nz-select>
      </div>
      <div nz-col class="mt-3" nzXs="12" nzSm="11" nzMd="10" nzLg="9" nzXl="3" nzXXl="2">
        <button nz-button nzType="primary" class="mr-3">
          <i nz-icon nzType="search" nzTheme="outline"></i>Tìm kiếm
        </button>
      </div>
      <div nz-col class="mt-3" nzXs="12" nzSm="11" nzMd="10" nzLg="9" nzXl="3" nzXXl="2">
        <button nz-button nzType="primary" class="mr-3" (click)="exportAsXLSX()">
          <i nz-icon nzType="file-excel" nzTheme="outline"></i>Xuất Excel
        </button>
      </div>
      <!-- <div nz-col class="mt-3" nzXs="12" nzSm="11" nzMd="10" nzLg="9" nzXl="3" nzXXl="2">
        <button nz-button nzType="primary" class="mr-3">
          <i nz-icon nzType="bar-chart" nzTheme="outline"></i>Biểu đồ
        </button>
      </div> -->
    </div>

    <nz-table class="mt-8"
    nzShowSizeChanger
    [nzData]="listOfData"
     [nzFrontPagination]="false"
    [nzPageSize]="size"
    [nzPageIndex]="page"
    [nzTotal]="total"
    (nzPageIndexChange)="pageChange($event)"
    (nzQueryParams)="onQueryParamsChange($event)"
    [nzFooter]="footer" [nzScroll]="{ x: '3500px', y: '490px' }">
      <thead>
        <tr>
          <th class="text-center" nzLeft>Vùng</th>
          <th class="text-center" nzLeft>Chi nhánh</th>
          <th class="text-center">Tên Bưu Cục</th>
          <th class="text-center">Tên Khách Hàng</th>
          <th class="text-center">T01/(-> tháng TX/YC)</th>
          <th class="text-center">Doanh thu cùng kỳ tháng N-1</th>
          <th class="text-center">Chênh lệch</th>
          <th class="text-center">DTBQ 3 tháng liền kề</th>
          <th class="text-center">Tang - gam</th>
          <th class="text-center">Tình trạng</th>
          <th class="text-center">Thị trường</th>
          <th class="text-center" > Phân nhóm 3 tháng liền kề</th>
          <th class="text-center">Tần xuất</th>
          <th class="text-center">KH MB </th>
          <th class="text-center">Địa chỉ</th>
          <th class="text-center">Người liên hệ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of listOfData" class="fixrow">
          <td class="with-table fixcolumn" nzLeft>{{ data.maPhieuGui ? data.maPhieuGui : "-" }}</td>
          <td class="text-center fixcolumn" nzLeft>{{ data.maKhGui ? data.maKhGui : "-" }}</td>
          <td class="text-center">{{ data.loaiDv ? data.loaiDv : "-" }}</td>
          <td class="text-center"> {{ data.loaiHanhTrinh ? data.loaiHanhTrinh  : "-" }}</td>
          <td class="text-center">{{ data.loaiHh? data.loaiHh : "-" }}</td>
          <td class="text-center">{{ data.loaiDon ? data.loaiDon : "-" }}</td>
          <td class="text-center"> {{ data.bcNhan ? (data.bcNhan ) : "-" }}</td>
          <td class="text-center">{{ data.tinhNhan ? data.tinhNhan : "-" }}</td>
          <td class="text-center">{{ data.bcGiao ? data.bcGiao : "-" }}</td>
          <td class="text-center"> {{ data.tinhGiao ? (data.tinhGiao ) : "-" }}</td>
          <td class="text-center">{{ data.loaiDc ? data.loaiDc : "-" }}</td>
          <td class="text-center"> {{ data.khoangCachTtkt ? (data.khoangCachTtkt ) : "-" }}</td>
          <td class="text-center">{{ data.thoiGianLayHangTc ? (data.thoiGianLayHangTc ) : "-" }}</td>
          <td class="text-center"> {{ data.thoiGianGiaoLanDau ? (data.thoiGianGiaoLanDau  ) : "-" }}</td>
          <td class="text-center">{{ data.thoiGianTtThucTe ? data.thoiGianTtThucTe : "-" }}</td>
          <td class="text-center"> {{ data.thoiGianTtChiTieu ? (data.thoiGianTtChiTieu ) : "-" }}</td>
        </tr>
      </tbody>
      <ng-template #footer>
        <span *ngIf="total">Tổng {{ total }} bản ghi</span>
      </ng-template>
    </nz-table>
  </div>
</cms-page>
